<% extend('../layout', {title: 'Piscine MERN J-3 - INDEX SHOP'}) %>

<h2>MA BOUTIQUE</h2>

<ul>
    <% products.forEach(function(product) { %>
        <div class="card" style="width: 18rem;">
            <% if (product.image !== undefined) {%>
                <img  class="card-img-top" src="/<%= product.image %>" alt="Mon image : <%= product.title %>" height="100" width="100" >
            <%} else {%>
                <img  class="card-img-top" src="https://picsum.photos/100/100" alt="Mon image : <%= product.title %>"  >
            <%}%>
            <div class="card-body">
                <h5 class="card-title"><%= product.title %> </h5>
                <p class="card-text"> <%= product.price %> </p>
                <a href="/boutique/<%= product.id %>" class="btn btn-primary">Voir plus</a>
            </div>
        </div>
    <% }); %>
</ul>